Daily Morning Weather Report with Personalized Email (3).json
{
  "name": "Daily Morning Weather Report with Personalized Email",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 5
            }
          ]
        }
      },
      "id": "bb923d3c-ef1b-488e-a3f3-12345c480a28",
      "name": "Every Morning at 5 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        304
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create a short, fun, and personalized weather report email based on this weather data:\n\nLocation: {{ $json.name }}\nTemperature: {{ $json.main.temp }}°C (feels like {{ $json.main.feels_like }}°C)\nConditions: {{ $json.weather[0].description }}\nHumidity: {{ $json.main.humidity }}%\nWind Speed: {{ $json.wind.speed }} m/s\n\nWrite a friendly email that:\n1. Greets the reader warmly\n2. Describes the weather in an engaging way\n3. Suggests what to wear based on the temperature and conditions\n4. Gives a tip on how the day might feel or what activities would be good\n5. Ends with an upbeat sign-off\n\nKeep it under 150 words and make it feel personal and cheerful!",
        "options": {
          "systemMessage": "You are a friendly weather assistant who writes fun, personalized daily weather reports. Your tone is warm, upbeat, and helpful."
        }
      },
      "id": "f8bc307d-301f-4188-8202-50673ca1313b",
      "name": "Generate Fun Weather Report",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        688,
        304
      ]
    },
    {
      "parameters": {
        "sendTo": "inshaf713@gmail.com",
        "subject": "=Your Daily Weather Report - {{ $now.toFormat(\"MMMM d, yyyy\") }}",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "8b97e94f-8e2d-4527-93fc-2e18badb1b54",
      "name": "Send Weather Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1040,
        304
      ],
      "webhookId": "fae64ab3-8d65-46b1-be56-fd9f105818fd",
      "credentials": {
        "gmailOAuth2": {
          "id": "yMEnnFWKNJ5K0kDL",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather?q=lucknow&appid=YOUR_API_KEY&units=metric",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        304
      ],
      "id": "f37dc92c-cb3c-446e-aa66-d131cf2132ec",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "vOfT6wyh46S03m8c",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        688,
        512
      ],
      "id": "b173d865-c6cd-408c-bf9f-0673dedcbda8",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "yp0nD5bteGVM7sFQ",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Every Morning at 5 AM": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Fun Weather Report": {
      "main": [
        [
          {
            "node": "Send Weather Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Generate Fun Weather Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Fun Weather Report",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "af3155af-da24-4701-b9bc-e149061ccaca",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b001bb4e1791841b30724b62be124a5075df9bf759b95506a1f48bbad54e6763"
  },
  "nodeGroups": [],
  "id": "M4TdvKy3ymi3zVB7",
  "tags": []
}